<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <form method="GET" action="/stats">
        <div>
            <label for="server">Server:</label>
            <select id="server" name="server">


                <option value="BR1">BR1</option>
                <option value="EUN1" selected>EUN1</option>
                <option value="EUW1">EUW1</option>
                <option value="JP1">JP1</option>
                <option value="KR">KR</option>
                <option value="LA1">LA1</option>
                <option value="LA2">LA2</option>
                <option value="NA1">NA1</option>
                <option value="OC1">OC1</option>
                <option value="RU">RU</option>
                <option value="TR1">TR1</option>
            </select>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <input type="submit" value="Submit"/>
    </form>

</body>
</html>